{% extends 'base.html' %}

{% block content %}
<h1>
    {% block title %}
    New Article
    {% endblock %}
</h1>

<style>
    div label,
    div button {
        margin: 10px 0px;
    }
</style>
<form action="create" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="Category">Category</label>
                <input type="text" name="Category" placeholder="Category" class="form-control"
                    value="{{ request.form['Category'] }}"></input>
            </div>
            <div class="form-group col-md-3">
                <label for="Title">Title</label>
                <input type="text" name="Title" placeholder="Title" class="form-control"
                    value="{{ request.form['Title'] }}"></input>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="content">Content</label>
                <textarea name="content" placeholder="Content"
                    class="form-control">{{ request.form['Content'] }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3" style="margin-top: 10px;">
                <label for="content">Image</label>
                <input type="file" name="file"> 
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </div>
</form>

{% endblock %}