{% extends 'base.html' %}

{% block content %}
<h1>
    {% block title %}
    Edit Article
    {% endblock %}
</h1>

<style>
    div label,
    div button {
        margin: 10px 0px;
    }
</style>
<form action="edit" method="post">
    <div class="container">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="Category">Category</label>
                <input type="text"  class="form-control" name="category"
                    value="{{ request.form['category'] or post['category'] }}"></input>
            </div>
            <div class="form-group col-md-3">
                <label for="Title">Title</label>
                <input type="text" class="form-control" name="title"
                    value="{{ request.form['title'] or post['title'] }}"></input>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="content">Content</label>
                <textarea name="short"
                    class="form-control">{{ request.form['short'] or post['short'] }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </div>
</form>

{% endblock %}