{% extends 'base.html' %}

{% block title %}
MiBlog
{% endblock %}

{% block content %}
<main id="main-content">
  {% for post in posts %}
  <div>
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">
          {{ post['category'] }}
        </strong>
        <h3 class="mb-0">
          {{ post['title'] }}
        </h3>
        <div class="mb-1 text-muted">
          {{ post['date_written'] }}
        </div>
        <p class="card-text mb-auto">
          {{ post['short'] }}
        </p>
        <a href="{{ url_for('post', post_id=post['id']) }}" class="stretched-link" onclick="">Continue reading</a>
        
      </div>
      <!--<div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" width="250" height="250" style="object-fit:cover;" role="img"
          src="../static/images/{{ post['images'] }}" />
      </div>-->
    </div>
  </div>
  {% endfor %}
</main>
{% endblock %}