{% extends 'base.html' %}

{% block title %}
    {{ post['title'] }}
{% endblock %}

{% block content %}
    <main id="main-content" class="container">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h1>{{ post['title'] }}</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>{{ post['created'] }}</p>
                    </td>
                </tr>
                <tr valign="top">
                    <td>
                        <!-- invisible in xs -->
                        <table class="d-none d-sm-block d-md-block">
                            <tbody>
                                {% for content in contents %}
                                    {% if content['image'] == 'NONE' %}
                                        <tr>
                                            <td colspan = "{{ content['paragraph_column_span'] }}">
                                                <p>{{ content['paragraph'] }}</p>
                                            </td>
                                        </tr>
                                    {% else %}
                                        {% if content['image_width'] == '0' or content['image_height'] == '0' %}
                                            <tr>
                                                <td>
                                                    <p>{{ content['paragraph'] }}</p>
                                                </td>
                                                <td rowspan = "{{ content['image_row_span'] }}" >
                                                    <img class="bd-placeholder-img" width="{{ content['image_width'] }}" height="{{ content['image_height'] }}" style="object-fit:cover; margin-bottom: 10px; border-radius: 5px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" role="img"
                                                    src="../static/images/{{ content['image'] }}" />     
                                                </td>
                                            </tr> 
                                        {% else %}
                                            {% if content['image_width'] > content['image_height']%}
                                                <tr>
                                                    <td colspan = "{{ content['paragraph_column_span'] }}">
                                                        <div class="row">
                                                            <div class="col-5" align="center">
                                                                <img class="bd-placeholder-img" width="{{ content['image_width'] }}" height="{{ content['image_height'] }}" style="object-fit:cover; margin-bottom: 10px; border-radius: 5px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" role="img"
                                                                src="../static/images/{{ content['image'] }}" />   
                                                            </div>
                                                            <div class="col-7">
                                                                <p>{{ content['paragraph'] }}</p>
                                                            </div>
                                                        </div>
                                                       
                                                    </td>
                                                </tr>
                                    
                                            {% else %}
                                                <tr valign="top">
                                                    <td>
                                                        <p>{{ content['paragraph'] }}</p>  
                                                    </td>
                                                    <td  rowspan="{{ content['image_row_span']}}">
                                                        <img class="bd-placeholder-img" width="{{ content['image_width'] }}" height="{{ content['image_height'] }}" style="object-fit:cover; margin-bottom: 10px; border-radius: 5px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" role="img"
                                                        src="../static/images/{{ content['image'] }}" />     
                                                    </td>
                                                </tr>
                                            {% endif  %}  
                                        {% endif  %}      
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>    
                        <!-- visible only in xs -->
                        <div class="d-block d-sm-none d-md-none row">
                            {% for content in contents %}
                                <div class="col-xs-8">
                                    <p>{{ content['paragraph'] }}</p>
                                </div>
                                {% if content[image] == 'NONE' %}
                                {% else %}
                                    <div class="col-xs-8" align="center">
                                        <img class="bd-placeholder-img" width="{{ content['image_width'] }}" height="{{ content['image_height'] }}" style="object-fit:cover; margin-bottom: 10px; border-radius: 5px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" role="img"
                                        src="../static/images/{{ content['image'] }}" />     
                                    </div>
                                {% endif %}
                                <div class="col-xs-4"></div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
{% endblock %}