{% extends 'base.html' %}

{% block title %}
    {{ post['title'] }}
{% endblock %}

{% block content %}
    <main id="main-content" class="container">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h1>{{ post['title'] }}</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>{{ post['created'] }}</p>
                    </td>
                </tr>
                <tr valign="top">
                    <td>
                        <!-- invisible in xs -->
                        <table class="d-none d-sm-block">
                            <tbody>
                                {% for content in contents %}
                                    {% if content['image'] == '' %}
                                        <tr>
                                            <td colspan = "{{ content['paragraph_column_span'] }}">
                                                <p>{{ content['paragraph'] }}</p>
                                            </td>
                                        </tr>
                                    {% else %}
                                        {% if content['image_width'] == '' or content['image_height'] == '' %}
                                            <tr>
                                                <td>
                                                    <p>{{ content['paragraph'] }}</p>
                                                </td>
                                                <td rowspan = "{{ content['image_row_span'] }}" >
                                                    <img class="bd-placeholder-img" width="{{ content['image_width'] }}" height="{{ content['image_height'] }}" style="object-fit:cover; margin-bottom: 10px; border-radius: 5px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" role="img"
                                                    src="../static/images/{{ content['image'] }}" />     
                                                </td>
                                            </tr> 
                                        {% else %}
                                            {% if content['image_width'] > content['image_height']%}
                                                <tr>
                                                    <td colspan = "{{ content['paragraph_column_span'] }}">
                                                        <p>{{ content['paragraph'] }}</p>
                                                    </td>
                                                </tr>
                                                <tr align="center">
                                                    <td colspan = "{{ content['paragraph_column_span'] }}">
                                                        <img class="bd-placeholder-img" width="{{ content['image_width'] }}" height="{{ content['image_height'] }}" style="object-fit:cover; margin-bottom: 10px; border-radius: 5px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" role="img"
                                                        src="../static/images/{{ content['image'] }}" />     
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td>
                                                        <p>{{ content['paragraph'] }}</p>  
                                                    </td>
                                                    <td  rowspan="{{ content['image_row_span']}}">
                                                        <img class="bd-placeholder-img" width="{{ content['image_width'] }}" height="{{ content['image_height'] }}" style="object-fit:cover; margin-bottom: 10px; border-radius: 5px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" role="img"
                                                        src="../static/images/{{ content['image'] }}" />     
                                                    </td>
                                                </tr>
                                            {% endif  %}  
                                        {% endif  %}      
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>    
                        <!-- visible only in xs -->
                        <div class="d-block d-sm-none row">
                            {% for content in contents %}
                                <div class="col-xs-12">
                                    <p>{{ content['paragraph'] }}</p>
                                </div>
                            {% if content[image] != '' %}
                                <div class="col-xs-12">
                                    <img class="bd-placeholder-img" width="{{ content['image_width'] }}" height="{{ content['image_height'] }}" style="object-fit:cover; margin-bottom: 10px; border-radius: 5px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" role="img"
                                    src="../static/images/{{ content['image'] }}" />     
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
{% endblock %}