{% extends "base.html" %}

{% block title %}
Sign Up to MiBlog
{% endblock %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        <form method="POST" action="/signup">
            <div class="field" style="margin-top: 10px;">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field" style="margin-top: 10px;">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field" style="margin-top: 10px;">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div style="margin-top: 10px;">
                <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}